<div class="userInfo">
	<div class="userInfoFooter">
		<div class="userAvatar">
			<p *ngIf="user.isAdmin">Admin</p>
			<img src="" alt="avatar">
			<p>
				<span class="userStatus"
			 		[style.background-color]="user.isOnline?'green':'red'">
			 			status
				</span>
				{{ user.nickName }}
			</p>
		</div>

		<div class="userName">
			<h2>
				{{ user.firstName }}
				{{ user.lastName }}
			</h2>
			<h3>{{ user.age }} лет</h3>
		</div>
		<button routerLink="/users">Вернуться к списку пользователей</button>
		<button *ngIf="this.isAdmin" [routerLink]="['/users/edit', user.userId]">Редактировать</button>
		<button (click)="delUser()" *ngIf="this.isAdmin">Удалить</button>
	</div>
	<div class="colleges">
		<h3>
				Образование
		</h3>
		<div class="collegesItem" *ngFor="let college of user.colleges; let i = index">

			<p>Учереждение: {{ college.collegeName }}</p>
			<p>Специальность: {{ college.collegeSpeciality }}</p>
			<p>Год поступления: {{ college.collegeEntrance }} год</p>
			<p>Год выпуска: {{ college.collegeGraduation }} год</p>
		</div>
	</div>
</div>
