<form class="authForm" [formGroup]="authForm">

      <mat-form-field appearance="outline">
        <mat-label>{{ 'AUTH.LOGIN' | translate }}:</mat-label>
        <input matInput placeholder="{{ 'AUTH.LOGIN' | translate }}"  [formControlName]="'login'">
      </mat-form-field>



    <mat-form-field appearance="outline">
      <mat-label>{{ 'AUTH.PASSWORD' | translate }}:</mat-label>
      <input matInput placeholder="{{ 'AUTH.PASSWORD' | translate }}" type="password"  [formControlName]="'password'">
    </mat-form-field>


  <h3 *ngIf="isShowAuthErorMessage">{{ 'AUTH.AUTHERORMESSAGE' | translate }}</h3>

  <button mat-stroked-button [disabled]="authForm.invalid" (click)="login()">{{ 'AUTH.BTM_SINGIN' | translate }}</button>
</form>


