Создание пользователz


<form [formGroup]="userCreateForm"
      class="userCreateForm"
      novalidate>
  <div class="user_avatar">
    <img src="../../../assets/user_avatar.png">
  </div>

	  <mat-form-field appearance="outline">
	    <mat-label>{{ 'CREATEUSER.NICKNAME' | translate }}:</mat-label>
	    <input matInput placeholder="{{ 'CREATEUSER.NICKNAME' | translate }}"  formControlName="nickName">

	  </mat-form-field>
  <p class="alert alert-danger"
       *ngIf="userCreateForm.controls['nickName'].invalid &&
	       userCreateForm.controls['nickName'].touched">
      {{ 'CREATEUSER.NICKNAME' | translate }} {{ 'CREATEUSER.INPUTERORMESSAGE' | translate }}
  </p>

	  <mat-form-field appearance="outline">
	    <mat-label>{{ 'CREATEUSER.PASSWORD' | translate }}:</mat-label>
	    <input matInput placeholder="{{ 'CREATEUSER.PASSWORD' | translate }}"  formControlName="password">

	  </mat-form-field>
  <p class="alert alert-danger"
     *ngIf="userCreateForm.controls['password'].invalid &&
	       userCreateForm.controls['password'].touched">
    {{ 'CREATEUSER.PASSWORD' | translate }} {{ 'CREATEUSER.INPUTERORMESSAGE' | translate }}
  </p>

  <mat-form-field appearance="fill">
    <mat-label>{{ 'CREATEUSER.USERTYPE' | translate }}</mat-label>
    <mat-select  formControlName="userType">
      <mat-option value="true">{{ 'CREATEUSER.ADMIN' | translate }}</mat-option>
      <mat-option value="false">{{ 'CREATEUSER.USER' | translate }}</mat-option>
    </mat-select>
  </mat-form-field>

	  <mat-form-field appearance="outline">
	    <mat-label>{{ 'CREATEUSER.FIRSTNAME' | translate }}:</mat-label>
	    <input matInput placeholder="{{ 'CREATEUSER.FIRSTNAME' | translate }}"  formControlName="firstName">

	  </mat-form-field>
  <p class="alert alert-danger"
     *ngIf="userCreateForm.controls['firstName'].invalid &&
	       userCreateForm.controls['firstName'].touched">
    {{ 'CREATEUSER.FIRSTNAME' | translate }} {{ 'CREATEUSER.INPUTERORMESSAGE' | translate }}
  </p>

	  <mat-form-field appearance="outline">
	    <mat-label>{{ 'CREATEUSER.LASTNAME' | translate }}:</mat-label>
	    <input matInput placeholder="{{ 'CREATEUSER.LASTNAME' | translate }}"  formControlName="lastName">

	  </mat-form-field>
  <p class="alert alert-danger"
     *ngIf="userCreateForm.controls['lastName'].invalid &&
	       userCreateForm.controls['lastName'].touched">
    {{ 'CREATEUSER.LASTNAME' | translate }} {{ 'CREATEUSER.INPUTERORMESSAGE' | translate }}
  </p>

	  <mat-form-field appearance="outline">
	    <mat-label>{{ 'CREATEUSER.AGE' | translate }}:</mat-label>
	    <input matInput placeholder="{{ 'CREATEUSER.AGE' | translate }}"  formControlName="age">

	  </mat-form-field>
  <p class="alert alert-danger"
     *ngIf="userCreateForm.controls['age'].invalid &&
	       userCreateForm.controls['age'].touched">
    {{ 'CREATEUSER.AGE' | translate }} {{ 'CREATEUSER.INPUTERORMESSAGE' | translate }}
  </p>

	<div formArrayName="collegeArray">

		<div class="form-group"
		*ngFor="let college of userCreateForm.value.collegeArray; let n = index">
			<div [formGroupName]="n">
				<div *ngFor="let e of college | keyvalue">

					 <input class="form-control" formControlName="{{e.key}}" placeholder="{{ 'CREATEUSER.'+ e.key | translate }}"/>
				</div>
			</div>

      <button (click)="addCollege()">+</button>


			<button *ngIf="n!=0"(click)="removeCollege(n)">-</button>
		</div>

	</div>



  <div class="alert alert-danger"
       *ngIf="userCreateForm.invalid &&
		       userCreateForm.touched">
    {{ 'CREATEUSER.FORMERORMESSAGE' | translate }}
  </div>

<button mat-stroked-button
	[disabled]="userCreateForm.invalid"
	(click)="saveUser()">
	  {{ 'CREATEUSER.BTM_CREATEUSER' | translate }}
</button>

</form>
