<form [formGroup]="userCreateForm" novalidate>


	<p>
	  <mat-form-field appearance="outline">
	    <mat-label>nickName:</mat-label>
	    <input matInput placeholder="nickName"  formControlName="nickName">
	   
	  </mat-form-field>
	</p>	

		<mat-form-field appearance="fill">
		  <mat-label>userType</mat-label>
		  <mat-select  formControlName="userType">
		    <mat-option value="false">User</mat-option>
		    <mat-option value="true">Admin</mat-option>
		  </mat-select>
		</mat-form-field>

	<p>
	  <mat-form-field appearance="outline">
	    <mat-label>firstName:</mat-label>
	    <input matInput placeholder="firstName"  formControlName="firstName">
	   
	  </mat-form-field>
	</p>	

	<p>
	  <mat-form-field appearance="outline">
	    <mat-label>lastName:</mat-label>
	    <input matInput placeholder="lastName"  formControlName="lastName">
	   
	  </mat-form-field>
	</p>	

	<p>
	  <mat-form-field appearance="outline">
	    <mat-label>age:</mat-label>
	    <input matInput placeholder="age"  formControlName="age">
	   
	  </mat-form-field>
	</p>	

	<div formArrayName="collegeArray">

		<div class="form-group"
		*ngFor="let college of userCreateForm.value.collegeArray; let n = index">
			<div class="collegeArrayItem" [formGroupName]="n">
				<div *ngFor="let e of college | keyvalue">
					
						  <mat-form-field appearance="outline">
						    <mat-label>{{e.key}}</mat-label>
						    <input matInput  formControlName="{{e.key}}">
		   
						  </mat-form-field>
					
				</div>
			</div>
			<button mat-button (click)="addCollege()">+material</button>
			<button mat-stroked-button  *ngIf="n!=0"(click)="removeCollege(n)">-</button>

			<button (click)="addCollege()">+wwwww</button>
			<button *ngIf="n!=0"(click)="removeCollege(n)">-</button>
		</div>
			<button mat-button (click)="addCollege()"   >+material</button>

	</div>



<p>Selected </p>

<button mat-stroked-button [disabled]="userCreateForm.invalid">Сохранить</button>
<!-- 	<div class="form-group">
	   <input class="form-control" name="name" formControlName="nickName" placeholder="NickName" />

	   <div class="alert alert-danger"
	       *ngIf="userCreateForm.controls['nickName'].invalid &&
	       userCreateForm.controls['nickName'].touched">
	       	Не указан nickName
	   </div>
	</div> -->

<!-- 	<div class="form-group">
	    <select name="type" formControlName="userType" placeholder="userType">
	    	<option value="true">Admin</option>
	    	<option value="false">User</option>
	    </select>
	   <div class="alert alert-danger"
	       *ngIf="userCreateForm.controls['userType'].invalid &&
	       userCreateForm.controls['userType'].touched">
	       	Не указан userType
	   </div>
	</div> -->
<!-- 

	<div class="form-group">
	   <input class="form-control"  formControlName="firstName" placeholder="ferstName" />

	   <div class="alert alert-danger"
	       *ngIf="userCreateForm.controls['firstName'].invalid &&
	       userCreateForm.controls['firstName'].touched">
	       	Не указан firstName
	   </div>
	</div> -->

<!-- 	<div class="form-group">
	   <input class="form-control"  formControlName="lastName" placeholder="lastName" />

	   <div class="alert alert-danger"
	       *ngIf="userCreateForm.controls['lastName'].invalid &&
	       userCreateForm.controls['lastName'].touched">
	       	Не указан lastName
	   </div>
	</div>

	<div class="form-group">
	   <input class="form-control"  formControlName="age" placeholder="age" />

	   <div class="alert alert-danger"
	       *ngIf="userCreateForm.controls['age'].invalid &&
	       userCreateForm.controls['age'].touched">
	       	Не указан age
	   </div>
	</div>
 -->


<!-- 	<div formArrayName="collegeArray">

		<div class="form-group"
		*ngFor="let college of userCreateForm.value.collegeArray; let n = index">
			<div [formGroupName]="n">
				<div *ngFor="let e of college | keyvalue">

					 <input class="form-control" formControlName="{{e.key}}" placeholder="{{e.key}}"/>
				</div>
			</div>
			<div class="alert alert-danger"
		       *ngIf="userCreateForm.controls['collegeArray'].invalid &&
		       userCreateForm.controls['collegeArray'].touched">
	       	Не заполненна форма про образование
	  		</div>
			<button (click)="addCollege()">+</button>
			<button *ngIf="n!=0"(click)="removeCollege(n)">-</button>
		</div>

	</div> -->
<!-- 
	<button class="btn btn-default"
				[disabled]="userCreateForm.invalid"
				(click)=saveUser()>
	            Сохранить
	</button> -->
</form>
