.header_container{



	background: #ff0000a3;
	background: linear-gradient(to top right, #ff0000, 70%, black);

}

.header{
  display: flex;
  align-items: center;
  z-index: 1;
  max-width: 760px;
  height: 70px;
  margin: 0 auto;
  position: relative;

  .logo:hover,
  &>button:hover{
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 20px 5px rgb(183 183 183);
    font-weight: 600;
  }
}

.logo{
	display: flex;
  align-items: center;
  padding-right: 5px;
}

.logout{
  position: absolute;
  right: 0;

  width: 285px;
}
